# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  fda,
  fields
)

importFrom("grDevices", "heat.colors")
importFrom("graphics", "abline", "axis", "box", "image", "layout",
           "lines", "par", "points", "text")
importFrom("stats", "cor", "cov", "var")
